<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" th:action="@{/books/byAuthor}">
    <select name="authorId">
        <option th:each="author : ${authors}"
                th:value="${author.id}"
                th:text="${author.name}"></option>
    </select>
    <button type="submit">Show books</button>
</form>

<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Rating</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td th:text="${book.title}"></td>
        <td th:text="${book.averageRating}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>